.container {
  display: flex;
  justify-content: center;
}

.createActivity {
  width: 700px;
  height: 1000px;
  display: grid;
  background: yellow;
  grid-template-rows: repeat(8, 1fr);
  row-gap: 10px;
  column-gap: 20px;
}

/* .containerActivity {
  display: flex;
  justify-content: center;
}
.formulation1 {
  display: inline-flex;
}
.formulation2 {
  display: inline-flex;
  height: 22px;
}
.createActivity {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
}
.containerSearch {
  width: 230px;
}
.containerNameCountries {
  display: flex;
  flex-direction: column;
  width: 195px;
  height: 200px;
  overflow-y: scroll;
}
.deleteAddedCountries{
  display: flex;
  justify-content: space-between;
  width: 150px;
}
.deleteAddedCountries button{
}
span{
color: red;
} */
