.container {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
.searchFilter {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.containerCard {
  width: 75%;
  /* padding-top: 40 px; */
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 40px;
  /* justify-items: stretch; */
  /* align-items: stretch; */
}
.input {
  height: 28px;
  width: 35%;
}
.search {
  height: 28px;
}
.filter {
  width: 500px;
  display: flex;
  justify-content: space-around;
}
.containerPaginate {
  height: 100px;
  display: flex;
  align-items: center;
}
.paginate {
  display: flex;
  justify-content: space-around;
  width: 160px;
}
.num {
  display: flex;
  justify-content: space-between;
  width: 70px;
  align-items: center;
}
.numActual {
  border: 2px solid red;
  width: 25px;
  display: flex;
  justify-content: center;
  /* height: 30px; */
}
/* 
.buttonHome {
  background-color: #456789;
  width: 80px;
  color: white;
  border: none;
  padding: 5px;
  font-size: 10px;
  cursor: pointer;
}
.button {
  background-color: #456789;
  width: 80px;
  color: white;
  border: none;
  padding: 5px;
  font-size: 10px;
  cursor: pointer;
} */

/* .link button {
  color: black;
  font-size: 10px;
  padding: 5px;
  width: 80px;
}
.link2 button {
  font-size: 10px;
  padding: 5px;
  width: 80px;
}
.link3 button {
  font-size: 10px;
  padding: 5px;
  width: 80px;
}

.link {
  background-color: #f9f9f9;
  width: 80px;
  display: none;
}
.link2 {
  background-color: #f9f9f9;
  width: 80px;
  display: none;
}
.link3 {
  background-color: #f9f9f9;
  width: 80px;
  display: none;
}

.link button:hover {
  background-color: #f1f1f1;
}
.link2 button:hover {
  background-color: #f1f1f1;
}
.link3 button:hover {
  background-color: #f1f1f1;
}

.desplegable:hover .link {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  position: absolute;
}

.desplegable2:hover .link2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  position: absolute;
}
.desplegable3:hover .link3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  position: absolute;
}
.paginated {
  display: flex;
  justify-content: center;
}

.paginatedNum {
  display: flex;
  justify-content: space-around;
  width: 80px;
}

.pageActual {
  width: 20px;
  border: 2px solid blue;
  text-align: center;
} */
