.container {
  background: #fff159;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  /* width: 100%;
  /* width: fit-content;
  margin: 0 auto; */
  /* position: relative; */
  /* top: 0px; */
  /* bottom: 17px; */
}
.image {
  width: 60px;
  height: 60px;
}

.container a {
  text-decoration: none;
}
.activity {
  color: black;
  font-size: 20px;
  font-weight: 500;
}
.profile {
  width: 150px;
  justify-content: space-evenly;
  gap: 10px;
  display: flex;
}

.title {
  color: black;
  font-size: 40px;
  font-weight: 750;
}
