.container {
  background: #fff159;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}
.image {
  width: 60px;
  height: 60px;
}

.container a {
  text-decoration: none;
}
.activity {
  color: black;
  font-size: 28px;
  font-weight: 600;
}
.profile {
  width: 150px;
  justify-content: space-evenly;
  gap: 10px;
  display: flex;
}

.title {
  color: black;
  font-size: 40px;
  font-weight: 750;
}
